
<p>2015 startade Janne Jacobsen och Marcus Carlsson KlippEss. De båda herrarna var framgångsrika och tävlade i SM, EM och VM.</p>

<p>Det tog inte lång tid att som personal bli inspirerad och hängde på med ett mycket gott resultat.</p>

<p>Salongen hade både dam och herr avdelning innanför dörrarna, men framförallt så bedrivs salongen med bla Onlinebokning.</p>

<p>Senare År 2015 sålde Janne och Marcus salongen till André Ceverin.
    Marcus jobbade kvar fram till sommaren 2015 då han lämnade KlippEss, men är än idag fortfarande verksam i yrket.</p>

<p>Idag driver André framgångsrikt salongen där sex verksamma frisörer tar väl hand om alla kunder.</p>

<p>Alla frisörer arbetar i egen regi med hyrstol. Ett gott samarbete och en nöjd kundkrets är för oss en självklarhet.</p>



