<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessLogicLayout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BusinessLogicLayout.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value>Sogetilia@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>SogetiLIA123</value>
            </setting>
            <setting name="SmptClient" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
        </BusinessLogicLayout.Properties.Settings>
    </userSettings>
</configuration>